
#formis{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
}

h1{
    font-family:'League Gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #231963;
}

button{
    background-color: #4b3abb15;
    border: none;
    border-radius: 5px;
    
}

img{
    width: 25px;
    
}
body{
    background: linear-gradient(to right, #725cffe5, #4b3abbf5);
}

.insert-book{
  
  background: linear-gradient(to right, #725cffe8, #4b3abb);
  background-position: 0;
  width: 90%;
  padding: 15px;
  border-radius: 5px;
  border: black;
 
  
}